
body{
    background-color: rgba(153, 182, 187, 0.377);
}
h1{
    color: rgb(56, 179, 179);
}

.container{
    background-color: white;
    margin-top: 10px;
    justify-content: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 3rem;
    max-width: 700px;
}


.col-md-6{
 /* margin-top: 10px;
 margin-bottom: 10px; */
 justify-content: center;
}
.col-sm-12{
 /* padding: 10px;
 margin: 5px, 5px, 5px, 5px; */
 justify-content: center;
}

button{
    background-color: teal;
    color: white;
    border: 0;
    padding: 20px;
    border-radius: 3rem;
}
img{
    max-width: 300px;
    max-height: 300px;
}