
/* body{
    background-color: rgba(153, 182, 187, 0.377);
} */
body {
    background-image: url("https://images.unsplash.com/photo-1508317469940-e3de49ba902e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80");
   }
   
h1{
    color: rgb(56, 179, 179);
}

.container{
    background-color: white;
    margin-top: 10px;
    justify-content: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 3rem;
    max-width: 700px;
}


.col-md-6{
 /* margin-top: 10px;
 margin-bottom: 10px; */
 justify-content: center;
}
.col-sm-12{
 /* padding: 10px;
 margin: 5px, 5px, 5px, 5px; */
 justify-content: center;
}

button{
    background-color: teal;
    color: white;
    border: 0;
    padding: 20px;
    border-radius: 3rem;
}
/* img{
    max-width: 300px;
    max-height: 300px;
} */